<button [disabled]="isLoading" [class]="classes" *ngIf="isSubmitButton">
  <span *ngIf="!isLoading">{{buttonText}}</span>
  <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
</button>

<button [disabled]="isLoading" [class]="classes" *ngIf="!isSubmitButton" (click)="onClickHandler()">
  <span *ngIf="!isLoading">{{buttonText}}</span>
  <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
</button>
