@import '~src/scss/abstracts/mixin';
@import '~src/scss/abstracts/variables';
@import '~src/scss/abstracts/breakpoints';

header {
    background: $white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 9;
    @include transition(0.4s);
    @include media-md {
        background: $white;
        position: sticky;
        top: 0;
        z-index: 999999;
    }
} 
.header-first-part {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        right: 100%;
        width: 250px;
        height: 100%;
        background: $white;
    }
}
.menu-wrapper {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        right: 100%;
        width: 250px;
        height: 100%;
        background: $kpn-blue;
    }
}
@include media-md {
    .res-settings {
        .btn {
            margin: 0;
            background: none;
            border: none;
        }
    }
    .brand-logo {
        padding: 0!important;
        img {
            width: auto!important;
            height: 30px; 
        }
    }
    .mobile-icon-fix {
        display: flex;
        align-items: center;
    } 
    .row-fix-mobile {
        justify-content: space-between;
    }
}
.cart-with-linkd {
    display: flex;
    align-items: center;
    @include media-md {
        .circle-icon-btn {
            width: 30px;
        }
    }
}
.brand-logo {
    padding: 15px 0;
    img {
        width: 100px;
    }
} 
.cart-item-wrap-account {
    .selected-user-name {
        margin-right: 0;
        padding: 0 15px;
        span {  
            flex: 0 0 auto;
            min-width: auto;
            text-align: left;
        }
    }
}
.selected-user-name {
    display: flex;
    margin-right: 20px;
    span {
    margin-left: 15px;
    font-size: 16px;
    font-family: "kpn_metricregular";
    flex: 0 0 auto;
    min-width: auto;
    margin-right: 5px;
    text-align: right;
    }
    p {
        margin-bottom: 0;
        label {
            margin: 0;
            display: block;
            font-size: 16px;
            font-family: 'kpn_metriclight';
            &.user-name {
                color: $dark-grey;
            }
            &.user-coc {
                color: $grey;
            }
        }
    }
}
.auth-user {
    display: flex;
    cursor: pointer;
    color: $dark-grey;
    @include transition(0.3s);
    padding-top: 4px;
    &:hover {
        color: $kpn-green;
    }
    .user-icon {
        font-size: 23px;
        margin: 0 5px;
    }
    p {
        margin: 0;
        label {
            cursor: pointer;
            display: block;
            font-family: 'kpn_metricsemibold';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal; 
            margin: 0;
            i {
                
            }
        }
        span {
            display: block;
            font-family: 'kpn_metricregular';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
        }
    }
} 
.auth-channel {
    margin: 0;
}
.top-right-order-status {
    a {
        display: inline-block;
        padding: 0 10px;
        font-size: 14px;
        color: $dark-grey;
        position: relative;
        @include transition(0.3s);
        &:hover {
            color: $kpn-green;
            text-decoration: none;
        }
        &:last-child {
            &:after {
                display: none;
            }
            padding-right: 0;
        }
        &:after {
            content: ':';
            position: absolute;
            right: -2px;
            font-weight: bold;
            top: 0;
        }
        &.kam-status-dropdown {
            color: $kpn-blue;
        }
    }
} 
.cart-with-link {
    display: flex;
    align-items: center;
}
.cart-lines-dropdown {
    .cart-item-wrap {
        max-height: 300px;
        overflow: auto;
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 5px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: rgba(0, 0, 0, 0.37);
        }
    }
    opacity: 0;
    @include transition(0.2s);
    -webkit-transform: scaleY(0);
        transform: scaleY(0);
    -webkit-transform-origin: top;
        transform-origin: top;
}

.short-cart-overview {
    position: relative;
    margin-left: 25px;
    @include media-md {
        margin-left: 5px;
    }
    .circle-icon-btn {
        position: relative;
        i {
            font-size: 30px;
        }
        .cart-item-amount {
            position: absolute;
            top: -5px;
            right: 12px;
            font-size: 14px;
            font-family: 'kpn_metricregular';
            color: $white;
            background: $kpn-blue;
            min-width: 20px;
            height: 20px;
            text-align: center;
            line-height: 18px;
            border-radius: 100%;
            border: 2px solid $white;
        }
    }
    &:hover {
        .cart-lines-dropdown {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
    .cart-lines-dropdown {
        @include media-md {
            top: 42px;
            right: -45px;
            width: 290px;
        }
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        background: $white;
        z-index: 9999999;
        padding: 15px 0 0 0;
        border-top: 1px solid $kpn-subtle-grey;
        box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.2);
        ul {
            margin-bottom: 0;
            li {
                list-style: none;
                .main-line {
                    border-bottom: 1px solid $kpn-subtle-grey;
                    border-top: 1px solid $kpn-subtle-grey;
                    color: $dark-grey;
                    font-family: 'kpn_metricsemibold';
                    margin-bottom: 0;
                    p {
                        font-family: 'kpn_metricsemibold';
                    }
                    .line-price {
                        font-family: 'kpn_metricsemibold';
                    }
                    &.main-line-bwt{
                        border-top: 1px solid white;
                        margin-top: -1px;
                    }
                    &.main-sub-line {
                        padding: 3px 15px 3px 30px !important;
                        border-bottom: none;
                        border-top: none;
                        p {
                            font-family: 'kpn_metricregular';
                        }
                        .line-price {
                            font-family: 'kpn_metricregular';
                        }
                        &.main-sub-sub-line {
                            padding: 3px 15px 3px 40px !important;
                            border-bottom: none;
                            border-top: none;
                            p {
                                font-family: 'kpn_metriclight';
                            }
                            .line-price {
                                font-family: 'kpn_metriclight';
                            }
                        }
                    }
                }
                &:first-child {
                    .main-line {
                        border-top: none;
                    }
                }
                &:last-child {
                    .main-line {
                        // border-bottom: none;
                    }
                }
                &.sub-sub-line{
                    p {
                        color: $grey;
                        i {
                            font-family: 'kpn_metricsemibold';
                        }
                    }
                    .line-price {
                        color: $grey;
                    }
                }
            }
            .default-line {
                display: flex;
                align-items: center;
                font-size: 14px;
                justify-content: space-between;
                padding: 5px 15px;
                
                p {
                    margin: 0;
                    font-family: 'kpn_metriclight';
                    line-height: 18px;
                    i {
                        font-family: 'kpn_metricsemibold';
                    }
                }
                .line-price {
                    font-family: 'kpn_metricregular';
                    margin-left: 10px;
                }
            }
        }
        .cart-overview-action {
            border-top: 1px solid $kpn-subtle-grey;
            padding: 10px 15px;
            margin-top: 10px;
            .btn-link {
                padding: 0;
            }
            .cart-total {
                p{
                    font-size: 14px;
                    strong{
                        font-family: 'kpn_metricsemibold';
                    }
                }
            }
        }
    }
}
.user-account-overview {
    position: relative;
    margin-left: 25px;
    @include media-md {
        margin-left: 5px;
    }
    &:hover {
        .menu-dropdown {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
    .menu-dropdown {
        opacity: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
            transform-origin: top;
        @include transition(0.3s);
        position: absolute;
        top: 42px;
        right: 0px;
        width: 290px;
        background: $white;
        z-index: 9999999;
        padding: 15px 0 0 0;
        border-top: 1px solid $kpn-subtle-grey;
        box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.2);
        .user-action {
            border-top: 1px solid $kpn-subtle-grey;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            .btn-group {
                .btn {
                    
                }
            }
        }
    }
}

.menu-wrapper {
    background: $kpn-blue;
    @include media-md {
        background: $white;
        border-right: 1px solid $kpn-subtle-grey;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 99999;
        opacity: 0;
        -webkit-transform: scaleX(0);
            transform: scaleX(0);
            @include transition(0.2s);
            -webkit-transform-origin: left;
                transform-origin: left; 
    }
    .main-nav {
        margin: 0 -15px;
        margin-left: 50px;
        li {
            display: inline-block;
            padding: 0 15px;
            a {
                color: $white;
                font-size: 16px;
                padding: 8px 0;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}