<header>
  <div class="header-first-part">
    <div class="container">
      <div class="row align-items-center row-fix-mobile">
        <div class="col-auto brand-col">
          <div class="brand-logo">
            LOGO
            <!-- <img src="../../../assets/images/logo.png" alt=""> -->
          </div>
        </div>

        <div class="col hide-on-pad">
          <div class="row align-items-center justify-content-end">
            <div class="col-auto">
              <div class="selected-user-name">
                <span>
                  User Role:
                </span>
                <p>
                  <label class="user-name">adminuser</label>
                </p>
                <span>
                  Selected customer:
                </span>
                <p>
                  <label class="user-coc">ABCD</label>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="cart-with-linkd">
            <div class="short-cart-overview">
              <button class="btn circle-icon-btn" (click)="goToCartOverview()">
                <i class="kpn-ui-icon ui-shoppingbasket"></i>
                <span class="cart-item-amount">5</span>
              </button>

              <div class="cart-lines-dropdown">
                <p
                  class="sub-title-light-5 dark-grey-text text-center px-3 py-3"
                >
                  Cart
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-wrapper">
    <div class="menu-body">
      <div class="container">
        <div class="row align-items-center justify-content-between pt-1 pb-1">
          <div class="col">
            <ul class="main-nav">
              <li *appRbac="['admin']">
                <a [routerLink]="" title="Admin" class="active">Admin</a>
              </li>
              <li>
                <a [routerLink]="" title="Quotes">Quotes</a>
              </li>
              <li><a href="" title="Order">Order</a></li>
              <li><a href="" title="Order Status">Order Status</a></li>
            </ul>
          </div>
          <div class="col-auto">
            <button
              (click)="onLogout()"
              class="btn app-rounded btn-outline-light btn-sm"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
