.btn-primary {
    background: $kpn-blue !important;
    border-color: $kpn-blue !important;
  
    &:hover {
      background: #0487df !important;
      border-color: $kpn-blue !important;
    }
  }
  
.btn-outline-primary {
    background: none !important;
    border-color: $kpn-blue !important;
    color: $kpn-blue !important;
    padding: .375rem 1.75rem !important;
  
    &:hover {
      background: $kpn-blue !important;
      color: $white !important;
    }
}
.btn-outline-light {
    background: none !important;
    border-color: $white !important;
    color: $white !important;
    padding: .375rem 1.75rem !important;
  
    &:hover {
      background: $white !important;
      color: $kpn-blue !important;
    }
}
.app-rounded {
    @include rounded(50px!important);
}