@mixin media-xs {
    @media screen and (max-width: 360px) {
        @content;
    }
}
@mixin media-sm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1300px) {
        @content;
    }
}
@mixin media-max-xl {
    @media screen and (max-width: 1800px) {
        @content;
    }
}
@mixin media-md-lg {
    @media screen and (max-width: 1300px) and (min-width: 1024px) {
        @content;
    }
}
@mixin media-lg-xl {
    @media screen and (min-width: 1300px) and (max-width: 1700px) {
        @content;
    }
}