
@mixin transition($value) {
    -webkit-transition: all $value ease-in-out;
    -moz-transition: all $value ease-in-out;
    -ms-transition: all $value ease-in-out;
    -o-transition: all $value ease-in-out;
    transition: all $value ease-in-out;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
@mixin transform-origin($origin) {
    -moz-transform-origin: $origin;
      -o-transform-origin: $origin;
     -ms-transform-origin: $origin;
 -webkit-transform-origin: $origin;
       transform-origin: $origin;
}

@mixin scaleY($scale) {
    @include transform(scaleY($scale));
} 
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

@mixin flexCenter ($direction) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin  box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin rounded($value) {
    -webkit-border-radius: $value; 
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin button($btn_color, $btn_text_color) {
    border: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Muli-Regular";
    padding: 1em 1.55em;
    @include transition(0.2s);
  
    color: $btn_text_color !important;
    background: $btn_color;
  
    &:hover {
      text-decoration: none;
      background: darken($btn_color, 10);
    }
  
    &:active {
      position: relative;
      top: 1px;
      color: darken($btn_color, 15);
    }
}

@mixin cssCrollBar($tracker-color, $thubm-bar-color) {
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: $tracker-color; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $thubm-bar-color; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}