$phone-xsmall-width: 360px;
$phone-small-width: 480px;
$tablet-width: 768px;
$pad-width: 990px;

$white: #ffffff;
$grey: #737373;
$dark-grey: #333333;
$medium-grey: #939393;
$dove-grey: #535353;
$light-grey: #e3e3e3;
$kpn-green: #090;
$kpn-subtle-green: #f4fae3;
$kpn-blue: #0099ff;
$kpn-light-blue: #daecf8;
$kpn-orange: #ff7f00;
$kpn-subtle-grey: #f3f3f3;
$silver: #b3b3b3;
$light-silver: #d3d3d3;
$kpn-red: #ea3737;