<div class="auth-wrapper">
  <div class="auth-gradient">
    <div class="auth-box">
      <div class="auth-logo text-center">
        Logo Will go here...
        <!-- <img src="../../../assets/images/logo-white-text.png" alt=""> -->
      </div>
      <div class="auth-form-box">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
          <h2 class="title-2 green-text">
            Signup
          </h2>
          <p class="sub-title-light-4 green-text">
            Enter your name email and password below.
          </p>
          <div class="form-group kpn-form-group">
            <input type="text" formControlName="name" class="form-control is-invalid kpn-form-control" [ngClass]="{
                'is-invalid': submitted && loginFormData.name.errors
              }" placeholder="habib basher" />
            <div *ngIf="submitted && loginFormData.name.errors" class="invalid-feedback">
              <div *ngIf="loginFormData.name.errors.required">
                Enter your name
              </div>
            </div>
          </div>
          <div class="form-group kpn-form-group">
            <input type="text" formControlName="email" class="form-control is-invalid kpn-form-control" [ngClass]="{
                'is-invalid': submitted && loginFormData.email.errors
              }" placeholder="example@example.com" />
            <div *ngIf="submitted && loginFormData.email.errors" class="invalid-feedback">
              <div *ngIf="loginFormData.email.errors.required">
                Enter your email
              </div>
            </div>
          </div>
          <div class="form-group kpn-form-group">
            <input type="password" formControlName="password" class="form-control kpn-form-control" [ngClass]="{
                'is-invalid': submitted && loginFormData.password.errors
              }" placeholder="Password" />
            <div *ngIf="submitted && loginFormData.password.errors" class="invalid-feedback">
              <div *ngIf="loginFormData.password.errors.required">
                Enter your password
              </div>
            </div>
          </div>
          <p [hidden]="!isLoginError" class="login-error">
            {{ loginErrorMessage }}
          </p>
          <p>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#forgotPassword" class="blue-link">Forgot your
              password?</a>
          </p>
          <button [disabled]="loading" class="btn btn-primary btn-block rounded-btn">
            <span *ngIf="!loading">Login</span>
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>
        </form>
        <p class="text-center pt-4 sub-title-light-5 grey-text">OR</p>
        <button class="btn btn-outline-primary btn-block rounded-btn" (click)="onLoginWithGmail()">
          Login With Gmail
        </button>
      </div>
    </div>
  </div>
</div>
