<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <app-sidebar class="sidebar" *ngIf="shouldShowSidebar"></app-sidebar>
    </div>
    <div class="col">
      <app-header class="header" *ngIf="shouldShowHeader"></app-header>
      <div class="body-container">
        <router-outlet (activate)="onActivate()"></router-outlet>
      </div>
      <app-footer class="footer" *ngIf="shouldShowFooter"></app-footer>
    </div>
  </div>
</div>




<!-- Language change example -->

<!-- <section>
  <article>
    <h1 i18n="Card Header|Title for the under construction card@@constructionHeader">
      Under Construction!
    </h1>
    <p i18n="Card Descritpion|A description for the under construction card.@@constructionDescription">
      This page is under construction.
    </p>
  </article>
  <button (click)="changeLanguage('de')">DE</button>
  <button (click)="changeLanguage('fr')">FR</button>
  <button (click)="changeLanguage('en')">EN</button>
</section> -->
