section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}

article {
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 40px;
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.8);
}
.header {
  display: block;
}
.sidebar {
  width: 200px;
  display: block;
}
.body-container {
  height: calc(100vh - 110px);
  background: #eee;
  padding: 10px 15px;
  overflow: auto;
}
.footer {
  display: block;
  padding: 10px 15px;
  height: 50px;
  background: #dddddd;
}