<div class="auth-wrapper">
  <div class="auth-gradient">
    <ng-template appDcplaceholder></ng-template>
    <div class="auth-box">
      <div class="auth-logo text-center">
        Logo Will go here...
        <!-- <img src="../../../assets/images/logo-white-text.png" alt=""> -->
      </div>
      <div class="auth-form-box">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmitSigninForm()">
          <h2 class="title-2 green-text">
            Signin
          </h2>
          <p class="sub-title-light-4 green-text">
            Enter your email and password below.
          </p>
          <div class="form-group kpn-form-group">
            <input type="text" formControlName="email" class="form-control is-invalid kpn-form-control" [ngClass]="{
                'is-invalid': submitted && loginFormData.email.errors
              }" placeholder="example@example.com" />
            <div *ngIf="submitted && loginFormData.email.errors" class="invalid-feedback">
              <div *ngIf="loginFormData.email.errors.required">
                Enter your email
              </div>
            </div>
          </div>
          <div class="form-group kpn-form-group">
            <input type="password" formControlName="password" class="form-control kpn-form-control" [ngClass]="{
                'is-invalid': submitted && loginFormData.password.errors
              }" placeholder="Password" />
            <div *ngIf="submitted && loginFormData.password.errors" class="invalid-feedback">
              <div *ngIf="loginFormData.password.errors.required">
                Enter your password
              </div>
            </div>
          </div>
          <p [hidden]="!isLoginError" class="login-error">
            {{ loginErrorMessage }}
          </p>
          <p>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#forgotPassword" class="blue-link">Forgot your
              password?</a>
          </p>

          <!-- <app-alert-modal [message]="error" (close)="onHandleClose()"></app-alert-modal> -->

          <app-button [isLoading]="isLoading" [buttonText]="loginButtonText" [classes]="loginBtnClasses"
            [isSubmitButton]=true></app-button>

        </form>
        <p class="text-center pt-4 sub-title-light-5 grey-text">OR</p>

        <app-button [isLoading]="isLoading" [buttonText]="loginWithGmailBtnText" [classes]="loginWithGmailBtnClasses"
          [isSubmitButton]=false (clickEvent)="onHandleClick()"></app-button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-none">
      <button type="button" class="close close-icon-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="auth-form-box auth-form-box-forgot">
        <div *ngIf="!hasResetPasswordRequestSent">
          <form [formGroup]="fgpForm" (ngSubmit)="onSubmitFPForm()">
            <h2 class="title-2 green-text">
              Forgot your password?
            </h2>
            <p class="sub-title-light-4 green-text">
              Enter your e-mail address below. We will send an e-mail within a
              few minutes with which new password can be created.
            </p>

            <div class="form-group kpn-form-group">
              <input type="text" formControlName="email" class="form-control is-invalid kpn-form-control" [ngClass]="{
                  'is-invalid': submitted && loginFormData.email.errors
                }" placeholder="Gebruikersnaam" />
              <div *ngIf="submitted && loginFormData.email.errors" class="invalid-feedback">
                <div *ngIf="loginFormData.email.errors.required">
                  Enter your email
                </div>
              </div>
            </div>
            <button [disabled]="isLoading" class="btn btn-primary btn-block rounded-btn">
              <span *ngIf="!isLoading">Login</span>
              <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </button>
          </form>
        </div>
        <p *ngIf="hasResetPasswordRequestSent" class="sub-title-light-4 green-text mb-0">
          Password reset email has been sent.
        </p>
      </div>
    </div>
  </div>
</div>
